body {
    background-color: #e5eff5;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2ab2af;
}

h3 {
    color: #fff;
}

.item:first-of-type h3 {
    color: #c0df34;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background: #c0df34;
    border-radius: .5rem;
    border-width: 0;
    box-shadow: 0 .1rem 1rem #00000033;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    width: 100%;
}

.container {
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    width: 40rem;
}

.item {
    padding: 2rem 3rem;
}

.item:first-of-type {
    background: #fff;
    color: #98a6bd;
    grid-column: span 2;
}

.item:nth-of-type(2) {
    background: #2ab2af;
    color: #e5eff5;
}

.item:nth-of-type(2) p:first-of-type {
    display: flex;
    align-items: center;
    gap: 1rem
}

.item:nth-of-type(2) span:first-of-type {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.item:nth-of-type(2) p:last-of-type {
    color: #fff;
    margin-bottom: 2rem;
}

.item:nth-of-type(3) {
    background: #4abebd;
    color: #e5eff5;
}

@media (max-width: 768px){
    section {
        height: 100%;
        margin: 3rem 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .item {
        padding: 2rem;
    }
}